
<h1 class="text-center"> Explore Trails</h1>

<% @trails.each do |trail|%>
    <p><%= link_to(trail.name, trail_path(trail))%> in <%= trail.location %></p>
    <img class="show-img" src="<%= trail.img_url%>" alt="<%= trail.name%>" width="500" height="400">
<% end %>
