<br/>
<div class="box">
    <br/>
    <h1> Discover Trails</h1>
    <br/>
        <% @trails.each do |trail|%>
            <%= link_to trail.name, trail_path(trail), class: 'trail-link'%>
            <%= trail.location %>
            <p><img class="show-img" src="<%= trail.img_url%>" alt="<%= trail.name%>" width="500" height="400"></p>
        <% end %>
</div>
