/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


/* body {
    background-color: rgb(216, 234, 240);
    font-family: 'Montserrat', sans-serif;
}

h1 {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
} */


/* General styles */

body {
    display: flex;
    flex-wrap: wrap;
	justify-content: center;
	align-items: center;
    background-color: #dfecec;
    font-family: 'Noto Sans', sans-serif;
    background-attachment: fixed;
    border-radius: 5px;
}

h1 {
    color: rgb(100, 165, 149);
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.trail-desc {
    text-align: left;
    justify-content: center;
    align-items:center;
    color: rgb(72, 102, 93);
    font-family: 'Noto Sans', sans-serif;
}

.reviews {
    color: rgb(72, 102, 93);
    font-family: 'Noto Sans', sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: opaque;
    border-radius: 50px;
    outline: rgb(89, 117, 119);
    border: solid;
    box-shadow: 3px 3px 5px 4px;
    font-family: "Montserrat";
}

.trail-link {
    color: rgb(89, 117, 89); 
    font-family: 'Montserrat', sans-serif;
}

.login-form {
    align-items: center;
    align-text: center;
    display: flex;
    flex-direction: column;
}

.greeting {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar {
    width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    opacity: .7; 
    justify-content: space-around;

}

li {
    display: inline
}

/* Button/link styles */

.btn-custom {
    color: #40524b;
    background-color: #fff;
    border: 3px solid darken(#2c2e2e, 5%);
    padding: 8px 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
        &:hover {
        text-decoration: none;
        background-color: darken(#f1c40f, 5%);
        color: #fff;
        transition: 0.5s;
    }
    input[type='submit'] {
      color: #006faa;
      display: block;
      padding: 0px 4px 0px 4px; 
      text-decoration: none;
    }
      &:hover { 
      color: rgb(47, 90, 112);
      }
    }
  }


.btn-custom2 {
    color: rgb(66, 143, 146);
    background-color: rgb(255, 255, 255);
    border: 3x solid rgb(34, 100, 97);
    padding: 8px 20px;
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
}
    &:hover {
        background-color: rgb(66, 143, 146);
        color: #fff;
        transition: 0.5s
    }
}


/* Style buttons */
.btn {
  background-color: lightblue; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn-custom:hover {
  background-color: lightblue;
}

.img-thumbnail {
    height: 250px; 
    width: 250px; 
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}


#centerlogin {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.home-bg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

